<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-5 body-content'>
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-4">
      <app-product-view></app-product-view>
    </div>
  </div>
</div>
