<div class="container" *ngIf="currentProductId!=null">
  Done
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" required [(ngModel)]="model.name" />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" type="text" name="price" required [(ngModel)]="model.price" />
    </div>
    <div class="form-group">
      <label for="count">Count</label>
      <input class="form-control" type="number" name="count" required [(ngModel)]="model.count" />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Save</button>
  </form>
</div>
