<section id="product-list">
  <table class="table">
    <thead>
      <tr>
        <th>Image </th>
        <th>Name  </th>
        <th>Price </th>
        <th>Count </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" (click)="OnProductListClick([product.ProductId])">
        <td><img src="{{ product.Image ? product.Image.Path : 'Empty' }}"  /></td>
        <td><p>{{ product.Name }}</p></td>
        <td><p class="price">{{ product.Price }}</p></td>
        <td><p>{{ product.Count }}</p></td>
      </tr>
    </tbody>
  </table>
</section>
